In [2]:
d = {'a':'Apple', 'b':'Ball', 'c':'Cat'}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [7]:
info = {'name': 'Ajit', 'age': 24, 'add':'Nepal'}
print(info['name'])
print(info['age'])

Ajit
24

In [8]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cats'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cats'}

In [13]:
info = {'Name':[], 'Age':[], 'Add':[]}
n = int(input("Enter n="))
for i in range(n):
    name = input("Enter name")
    age = int(input("Enter age"))
    add = input("Enter address")
    info['Name'].append(name)
    info['Age'].append(age)
    info['Add'].append(add)
    
print(info)

Enter n=2
Enter nameram
Enter age20
Enter addressitahari
Enter nameshyam
Enter age25
Enter addressnepal
{'Name': ['ram', 'shyam'], 'Age': [20, 25], 'Add': ['itahari', 'nepal']}

In [1]:
a = [{'Name':'Ram', 'Age':20, 'Add':'Nepal'},
     {'Name':'Shyam', 'Age':21, 'Add':'China'},
     {'Name':'Hari', 'Age':25, 'Add':'Japan'}    
]
print(a)
print(type(a))

[{'Name': 'Ram', 'Age': 20, 'Add': 'Nepal'}, {'Name': 'Shyam', 'Age': 21, 'Add': 'China'}, {'Name': 'Hari', 'Age': 25, 'Add': 'Japan'}]
<class 'list'>

In [2]:
a[0]

{'Name': 'Ram', 'Age': 20, 'Add': 'Nepal'}

In [4]:
a[0]['Name']

'Ram'

In [6]:
print(a[0]['Name'])
print(a[0]['Age'])
print(a[0]['Add'])

Ram
20
Nepal

In [9]:
l = []
d = {}
n = int(input("Enter n="))
for i in range(n):
    name = input("Enter name")
    age = int(input("Enter age"))
    add = input("Enter address")
    d['Name'] = name
    d['Age'] = age
    d['Address'] = add
    l.append(d)
print(d)
print(l)

Enter n=1
Enter nameHari
Enter age18
Enter addressAustralia
{'Name': 'Hari', 'Age': 18, 'Address': 'Australia'}
[{'Name': 'Hari', 'Age': 18, 'Address': 'Australia'}]

In [10]:
del l[0]

In [11]:
print(l)

[]

In [14]:
l[0]['Name'] = 'Shyam'
l[0]['Age'] = 20
l[0]{['Address'] = 'America'

SyntaxError: invalid syntax (1344604459.py, line 1)